	body {
	  margin:0;
	  padding:0;
	  font-family:"Reenie Beanie",arial,sans-serif;  
	  font-size:100%;
	  margin:3em;
	  background:#3d9ad1;
	  /*color:#fff;*/
	  color:#250672;

	}

	h2, p{
	  margin:0;
	  padding:0;
	  font-size:100%;
	  font-weight:normal;
	}

	ul,li {
	  list-style:none;
	}

	ul {
	  overflow:hidden;
	  padding:1em;
	}

	ul li{
	  margin:1em;
	  float:left;
	}

	ul li a {
	  margin: 2em;	
	  padding:0;
	  text-decoration:none;
	  /*color:#000;*/
	  /*background:#fffc73;*/
	}

	ul li h2{  
	  font-size:120%;  
	  font-weight:bold;  
	  padding-bottom:10px;  
	}  

	ul li p{  
	  margin:0;
	  padding:0;
	  font-family:"Reenie Beanie",arial,sans-serif;  
	  font-size:200%;  
	}  

	.note_class header .handle a {
		color: black;
		font-size: 25px;
		font-weight: bold;

	}
	.note_class p {
		color: white;
	}

	.note_class a p{
	  color:#250672;
	}

	#notes .handle {
		font-size: 2em;
		text-align: right;
/*		color: #ff0000;
*/		cursor: move;
		float: right;
		
	}

	.handle a {
		font-size: 1em;
		text-align: right;

	}


	.note_class {
	  /* creates a block with 10em x 10em */
	  display:block;
	  height:15em;
	  width:15em;
	  padding:1em;
	  margin:2em;

	  /* Box Shadow to create the shadow effect for Firefox, WebKit & Opera */  
	  -moz-box-shadow:5px 5px 7px rgba(33,33,33,.7);
	  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);  
	  box-shadow: 5px 5px 7px rgba(33,33,33,.7); 

	  /* Transform to tilt the notes */
	  -webkit-transform:rotate(-6deg);  
	  -o-transform:rotate(-6deg);  
	  -moz-transform:rotate(-6deg);  

	  /* Transform to create a smooth transition in time for the tilting effect of the notes */
	  -moz-transition:-moz-transform .15s linear;  
	  -o-transition:-o-transform .15s linear;  
	  -webkit-transition:-webkit-transform .15s linear;  
	}

	.single_note {
		display:block;
	  	height:32em;
	  	width:30em;
	  	font-size:12px;
	  	font-family:"Reenie Beanie",arial,sans-serif;  
	  	font-weight: bold;
/*		color:#250672;
*/
		/* Box Shadow to create the shadow effect for Firefox, WebKit & Opera */  
	  	-moz-box-shadow:25px 25px 27px rgba(33,33,33,.7);
	  	-webkit-box-shadow: 25px 25px 27px rgba(33,33,33,.7);  
	  	box-shadow: 25px 25px 27px rgba(33,33,33,.7); 

	}

	#note_title  {
	    width:15em;
	}

	#note_text  {
	    width:15em;
	    height: 6em;
	}

	input, select, textarea {
		border:none;
	  	font-family:"Reenie Beanie",arial,sans-serif;  
     	font-size:  100%;
     	font-weight: bold;
     	color:#250672;
		background:transparent;
	}

	ul li:nth-child(even) div {
	  -o-transform:rotate(4deg);  
	  -webkit-transform:rotate(4deg);  
	  -moz-transform:rotate(4deg);  
	  position:relative;  
	  top:5px; 
	  /*background:#e5399e;*/
		}
	ul li:nth-child(3n) div {
	  -o-transform:rotate(-3deg);  
	  -webkit-transform:rotate(-3deg);  
	  -moz-transform:rotate(-3deg);  
	  position:relative;  
	  top:-5px;  
	  /*background:#ccf;*/
	}
	ul li:nth-child(5n) div {  
	  -o-transform:rotate(5deg);  
	  -webkit-transform:rotate(5deg);  
	  -moz-transform:rotate(5deg);  
	  position:relative;  
	  top:-10px;  
	  /*background:#aef26d;*/
	}  
	ul li div:hover, ul li div:focus {  
	  /* Transform to create a smooth shadow & zoom effect on focus and hover over on the notes */
	  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);  
	  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);  
	  box-shadow:10px 10px 7px rgba(0,0,0,.7);  

	  -webkit-transform: scale(1.25);  
	  -moz-transform: scale(1.25);  
	  -o-transform: scale(1.25);  
	  position:relative;  
	  z-index:5; /* brings the focused note to front */ 
	}  

	.color_yellow {
		background:#fffc73;
	}
	.color_pink {
		background:#e5399e;
	}
	.color_blue {
		background:#ccf;
	}
	.color_green {
		background:#aef26d;
	}


